#header{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $colorH1;
    // background: red;
    padding: 30px 80px;
    position: sticky;
    top: 0;
    z-index: 9999;
    .mobile-menu{
        display: none;
    }

    .close{
        width: 100%;
        opacity: 1;
        visibility: visible;

    }

    nav{
        ul{
            display: flex;
            align-items: center;
            // margin-right: 50px;

            li{
                padding: 0 20px;
                a{
                    text-transform: capitalize;
                    font-size: 18px;
                    font-weight: 500;
                    transition: 0.2s all linear;

                    &:hover{
                        color: $btnColor;
                    }
                }
            }
            .btn{
                padding: 12px 25px;
                background: $btnColor;
                text-transform: capitalize;
                font-size: 18px;
                border-radius: 50px;
                margin-right: 50px;
                color: $colorH1;

                &:hover{
                    color: #000;
                }
            }
        }
    }

}